#menus {
    width: 80%;
    margin: 100px auto auto auto;

    .menus-items-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        place-items: center;
        row-gap: 100px;
        margin-top: 150px;

        .menu-item {
            width: 75%;
            height: 450px;
            border-radius: 20px;
            background-color: #383636;

            .menu-item-img-wrapper {
                height: 40%;

                .menu-item-img {
                    position: relative;
                    top: -50px;
                    left: 50px;
                    width: 400px;
                    height: auto;
                }
            }

            .menu-item-text {
                justify-content: space-between;
                padding: 20px 40px;
                height: 60%;
                display: flex;
                flex-direction: column;
                background-color: #6D6D6D;

                .menu-item-name {
                    font-size: 1.6rem;
                    font-weight: bold;
                }

                .menu-content {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .menu-content-item {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: 1.1rem;
                        font-weight: 500;

                        .menu-content-item-img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }

                .menu-item-footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .menu-item-price {
                        display: flex;
                        gap: 20px;

                        .price-img {
                            width: 42px;
                            height: 42px;
                        }
                    }

                    .row {
                        align-items: center;

                        span {
                            font-size: 1.2rem;
                            font-weight: bold;
                        }
                    }
                }

            }
        }
    }
}