.order {
    width: 80%;
    margin: auto;

    .page-title {
        text-align: center;
        margin: 20px 0;
    }

    .order-item-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 50px;

        .order-item {
            display: flex;
            flex-direction: column;
            gap: 40px;
            background-color: #383636;
            border-radius: 20px;
            padding: 20px;

            .order-image-wrapper {
                width: 100%;
                margin: auto;

                .order-image {
                    width: 80%;
                    height: 100%;
                    object-fit: cover;
                    margin: auto;
                    display: flex;
                }
            }

            .order-item-text {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 10px;

                .order-item-name,
                .order-item-price,
                .order-item-quantity {
                    font-size: 1.2rem;
                    font-weight: 600;
                }
            }
        }
    }

    .order-total-price {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 100px;

        .order-total-price-title {
            font-size: 1.5rem;
            font-weight: 600;
        }

        .form-coupon {
            display: flex;
            flex-direction: column;


        }
    }

    .order-button {
        display: flex;
        margin: 50px auto auto auto;
    }
}