.home-header {
    width: 80%;
    margin: 100px auto;

    .slogan-container {
        gap: 50px;
        animation: slideInFromLeft 1s ease-in-out forwards;

        .slogan {
            font-size: 2.5rem;
        }

        .yellow-button {
            font-size: 1.5rem;
        }
    }

    .header-img {
        opacity: 0;
        animation: slideInFromRight 1s ease-in-out forwards;
        animation-delay: 0.4s;
    }
}

.our-creations {
    width: 80%;
    margin: 150px auto auto auto;

    .our-creations-items-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        place-items: center;
        row-gap: 100px;
        margin-top: 150px;

        .our-creations-item {
            width: 75%;
            height: 400px;
            border-radius: 20px;
            background-color: #383636;
            border: solid 3px #f5c518;

            &:nth-child(1) {
                .our-creations-item-img-wrapper {
                    .our-creations-item-img {
                        width: 350px;
                        left: 75px;
                    }
                }
            }

            &:nth-child(3) {
                .our-creations-item-img-wrapper {
                    .our-creations-item-img {
                        top: -20px;
                    }
                }
            }

            &:nth-child(4) {
                .our-creations-item-img-wrapper {
                    .our-creations-item-img {
                        top: -20px;
                    }
                }
            }

            .our-creations-item-img-wrapper {
                position: relative;
                height: 40%;
                background-image: url('../../assets/img/BG.png');

                .our-creations-item-img {
                    position: relative;
                    top: -30px;
                    left: 100px;
                    width: 300px;
                    height: auto;
                }
            }

            .our-creations-item-text {
                justify-content: space-between;
                padding: 20px 40px;
                height: 60%;
                display: flex;
                flex-direction: column;
                background-color: #6D6D6D;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;

                .our-creations-item-name {
                    font-size: 1.6rem;
                    font-weight: bold;
                }

                .our-creations-item-price {
                    font-size: 1.4rem;
                }

                .our-creation-item-footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .our-creation-item-stats {
                        display: flex;
                        gap: 20px;
                    }

                    .row {
                        align-items: center;

                        span {
                            font-size: 1.2rem;
                            font-weight: bold;
                        }
                    }
                }

            }
        }
    }

}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-5%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(5%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1642px) {
    .our-creations .our-creations-items-container .our-creations-item {
        height: 500px;
    }

    .our-creations .our-creations-items-container .our-creations-item .our-creations-item-img-wrapper .our-creations-item-img {
        width: 330px;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(1) .our-creations-item-img-wrapper .our-creations-item-img {
        top: -30px;
        left: 25px;
        width: 400px;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(3) .our-creations-item-img-wrapper .our-creations-item-img {
        top: -10px;
        left: 75px;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(2) .our-creations-item-img-wrapper .our-creations-item-img {
        top: -20px;
        left: 75px;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(4) .our-creations-item-img-wrapper .our-creations-item-img {
        top: -10px;
        left: 75px;
    }

    .our-creations .our-creations-items-container .our-creations-item .our-creations-item-text .our-creation-item-footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }
}

@media screen and (max-width: 1480px) {
    .our-creations .our-creations-items-container {
        grid-template-columns: repeat(1, 1fr);

        .see-more {
            margin: auto 0 auto auto;
        }

        .our-creations-item-description {
            font-size: 1.2em;
        }
    }

    .our-creations .our-creations-items-container .our-creations-item .our-creations-item-text {
        gap: 20px;
    }

    .our-creations .our-creations-items-container .our-creations-item {
        height: 600px;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(1) .our-creations-item-img-wrapper .our-creations-item-img {
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 450px;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(3) .our-creations-item-img-wrapper .our-creations-item-img {
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(2) .our-creations-item-img-wrapper .our-creations-item-img {
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(4) .our-creations-item-img-wrapper .our-creations-item-img {
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
    }
}

@media screen and (max-width: 1327px) {
    .home-header {
        .row {
            flex-direction: column-reverse;
            gap: 50px;

            .slogan-container {
                align-items: center;

                .yellow-button {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media screen and (max-width: 871px) {
    .home-header .header-img {
        width: 70%;
    }

    .home-header .slogan-container .slogan {
        font-size: 1.7rem;
    }

    .home-header .row .slogan-container .yellow-button {
        font-size: 1.5rem;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(2) .our-creations-item-img-wrapper .our-creations-item-img {
        width: 350px;
        top: -10px;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(3) .our-creations-item-img-wrapper .our-creations-item-img {
        width: 350px;
        top: 0px;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(4) .our-creations-item-img-wrapper .our-creations-item-img {
        width: 350px;
        top: 0px;
    }
}

@media screen and (max-width: 722px) {
    .our-creations .our-creations-items-container .our-creations-item {
        height: 700px;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(1) .our-creations-item-img-wrapper .our-creations-item-img {
        width: 350px;
        top: 20px;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(2) .our-creations-item-img-wrapper .our-creations-item-img {
        width: 300px;
        top: 20px;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(3) .our-creations-item-img-wrapper .our-creations-item-img {
        width: 300px;
        top: 20px;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(4) .our-creations-item-img-wrapper .our-creations-item-img {
        width: 300px;
        top: 20px;
    }
}

@media screen and (max-width: 630px) {
    .our-creations .our-creations-items-container {
        place-items: start;
    }

    .our-creations .our-creations-items-container .our-creations-item {
        width: 100%;
        height: auto
    }
}

@media screen and (max-width: 532px) {
    .our-creations .our-creations-items-container {
        display: flex;
        flex-direction: column;
    }

    .our-creations .our-creations-items-container .our-creations-item .our-creations-item-text .our-creation-item-footer .our-creation-item-stats {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .our-creations .our-creations-items-container .see-more {
        margin: 0;
    }
}

@media screen and (max-width: 425px) {

    .our-creations .our-creations-items-container .our-creations-item:nth-child(2) .our-creations-item-img-wrapper .our-creations-item-img,
    .our-creations .our-creations-items-container .our-creations-item:nth-child(3) .our-creations-item-img-wrapper .our-creations-item-img,
    .our-creations .our-creations-items-container .our-creations-item:nth-child(4) .our-creations-item-img-wrapper .our-creations-item-img {
        width: 250px;
        top: 0;
    }

    .our-creations .our-creations-items-container .our-creations-item:nth-child(1) .our-creations-item-img-wrapper .our-creations-item-img {
        width: 300px;
        top: 0;
    }

}