.error {
    height: 100vh;
    background-image: url('../../assets/img/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

        h1 {
            font-size: 5rem;
            font-weight: 600;
            color: #f5c518;
            font-family: 'Poppins', sans-serif;
        }

        p {
            font-size: 2rem;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
        }

        .nav-column {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            margin-top: 25px;
        }
    }
}